<form class="c2d10-dialog">
    <div class="c2d10-subsection flex-col flex-start">
        <h3>{{localize "c2d10.sheet.edit"}} {{localize "c2d10.sheet.focus"}}</h3>
        <div class="c2d10-contentbox">
            <input id="focus-name" type="text" value="{{focusContent.name}}" placeholder="{{localize "c2d10.skills.name"}}"/>
            <select id="focus-skill">
                {{selectOptions config.allSkills selected=focusContent.parent localize=true}}
            </select>
        </div>
    </div>
</form>