<section>
    <h3>
        {{localize "c2d10.sheet.focus"}}
    </h3>
    <div class="c2d10-subsection">
        <table class="c2d10-asset-card-table align-center">
            <colgroup>
                <col style="width: 5%;">
                <col class="w-50">
                <col class="w-50">
            </colgroup>
            <tr>
                <th class="table-no-border">
                    <a class="add-focus" title="{{localize "c2d10.sheet.addFocus"}}">
                        <i class="far fa-plus-square"></i>
                    </a>
                </th>
                <th class="table-no-border">{{localize "c2d10.sheet.focus"}}</th>
                <th class="table-no-border">{{localize "c2d10.sheet.parent"}}</th>
            </tr>
            {{#each system.skills.focus as | focus |}}
            <tr class="focusdata" data-name="{{focus.name}}" data-parent="{{focus.parent}}">
                <td class="focus c2d10-contentbox {{#if ../showEffects}}fancy-effects{{/if}}">
                    <a class="remove-focus" title="{{localize "c2d10.sheet.removeFocus"}}">
                        <i class="far fa-minus-square"></i>
                    </a>
                </td>
                <td class="focus c2d10-contentbox {{#if ../showEffects}}fancy-effects{{/if}}">
                    <div class="focus-edit" style="margin-left: 2px;">
                        {{focus.name}}
                    </div>
                </td>
                <td class="focus c2d10-contentbox {{#if ../showEffects}}fancy-effects{{/if}}">
                    {{localize (concat "c2d10.skills." focus.parent)}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>