<section>
    <h3>
        {{localize "c2d10.sheet.talents"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{log this}}
                    {{#each this.talents as |talent id|}}
                        {{log this}}
                    {{/each}}
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.agility"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="physical" data-id="agility">
                            {{#dots system.talents.physical.agility 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.endurance"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="physical" data-id="endurance">
                            {{#dots system.talents.physical.endurance 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.strength"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="physical" data-id="strength">
                            {{#dots system.talents.physical.strength 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.charm"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="social" data-id="charm">
                            {{#dots system.talents.social.charm 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.empathy"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="social" data-id="empathy">
                            {{#dots system.talents.social.empathy 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.manipulation"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="social" data-id="manipulation">
                            {{#dots system.talents.social.manipulation 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.logic"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="mental" data-id="logic">
                            {{#dots system.talents.mental.logic 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.reason"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="mental" data-id="reason">
                            {{#dots system.talents.mental.reason 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.willpower"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="talents" data-group="mental" data-id="willpower">
                            {{#dots system.talents.mental.willpower 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>