<section>
    <h3>
        {{localize "c2d10.sheet.talents"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.agility"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="agility">
                            {{#dots actor.data.data.agility 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.endurance"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="endurance">
                            {{#dots actor.data.data.endurance 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.strength"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="strength">
                            {{#dots actor.data.data.strength 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.charm"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="charm">
                            {{#dots actor.data.data.charm 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.empathy"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="empathy">
                            {{#dots actor.data.data.empathy 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.manipulation"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="manipulation">
                            {{#dots actor.data.data.manipulation 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.logic"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="logic">
                            {{#dots actor.data.data.logic 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.reason"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="reason">
                            {{#dots actor.data.data.reason 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.talents.willpower"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="willpower">
                            {{#dots actor.data.data.willpower 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>