<section>
    <h3>
        {{localize "c2d10.sheet.skills"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.acrobatics"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="acrobatics">
                            {{#dots system.skills.physical.acrobatics 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.athletics"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="athletics">
                            {{#dots system.skills.physical.athletics 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.brawl"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="brawl">
                            {{#dots system.skills.physical.brawl 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.burglary"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="burglary">
                            {{#dots system.skills.physical.burglary 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.crafts"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="crafts">
                            {{#dots system.skills.physical.crafts 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.driving"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="driving">
                            {{#dots system.skills.physical.driving 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.firearms"}}</th>
                        <td class="flex-row table-no-border resource-row" data-id="firearms">
                            {{#dots system.skills.physical.firearms 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.melee"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="melee">
                            {{#dots system.skills.physical.melee 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.carousing"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="carousing">
                            {{#dots system.skills.social.carousing 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.insight"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="insight">
                            {{#dots system.skills.social.insight 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.intimidation"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="intimidation">
                            {{#dots system.skills.social.intimidation 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.leadership"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="leadership">
                            {{#dots system.skills.social.leadership 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.persuasion"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="persuasion">
                            {{#dots system.skills.social.persuasion 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.politics"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="politics">
                            {{#dots system.skills.social.politics 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.streetsmarts"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="streetsmarts">
                            {{#dots system.skills.social.streetsmarts 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.subterfuge"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="subterfuge">
                            {{#dots system.skills.social.subterfuge 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.academia"}}</th>
                        <td class="flex-row table-no-border resource-row" data-type="skills" data-group="mental" data-id="academia">
                            {{#dots system.skills.mental.academia 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.awareness"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="awareness">
                            {{#dots system.skills.mental.awareness 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.investigation"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="investigation">
                            {{#dots system.skills.mental.investigation 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.medicine"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="medicine">
                            {{#dots system.skills.mental.medicine 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.science"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="science">
                            {{#dots system.skills.mental.science 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.stealth"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="stealth">
                            {{#dots system.skills.mental.stealth 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.survival"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="survival">
                            {{#dots system.skills.mental.survival 5}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.technology"}}</th>
                        <td class="flex-row table-no-border resource-row"  data-type="skills" data-group="mental" data-id="technology">
                            {{#dots system.skills.mental.technology 5}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>