<section>
    <h3>
        {{localize "c2d10.sheet.talents"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{#each system.talents.physical as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-talent-test table-no-border" data-type="talents" data-group="physical" data-id="{{name}}">{{localize (concat "c2d10.talents." name)}}</th>
                            <td class="flex-row table-no-border resource-row" data-type="talents" data-group="physical" data-id="{{name}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{#each system.talents.social as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-talent-test table-no-border" data-type="talents" data-group="social" data-id="{{name}}">{{localize (concat "c2d10.talents." name)}}</th>
                            <td class="flex-row table-no-border resource-row" data-type="talents" data-group="social" data-id="{{name}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.talents.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{#each system.talents.mental as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-talent-test table-no-border" data-type="talents" data-group="mental" data-id="{{name}}">{{localize (concat "c2d10.talents." name)}}</th>
                            <td class="flex-row table-no-border resource-row" data-type="talents" data-group="mental" data-id="{{name}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</section>