<section>
    <h3>
        {{localize "c2d10.sheet.skills"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.acrobatics"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="acrobatics">
                            {{#dots actor.data.data.acrobatics}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.athletics"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="athletics">
                            {{#dots actor.data.data.athletics}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.brawl"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="brawl">
                            {{#dots actor.data.data.brawl}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.burglary"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="burglary">
                            {{#dots actor.data.data.burglary}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.crafts"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="crafts">
                            {{#dots actor.data.data.crafts}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.driving"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="driving">
                            {{#dots actor.data.data.driving}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.firearms"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="firearms">
                            {{#dots actor.data.data.firearms}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.melee"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="melee">
                            {{#dots actor.data.data.melee}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.carousing"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="carousing">
                            {{#dots actor.data.data.carousing}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.insight"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="insight">
                            {{#dots actor.data.data.insight}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.intimidation"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="intimidation">
                            {{#dots actor.data.data.intimidation}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.leadership"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="leadership">
                            {{#dots actor.data.data.leadership}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.persuasion"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="persuasion">
                            {{#dots actor.data.data.persuasion}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.politics"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="politics">
                            {{#dots actor.data.data.politics}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.streetsmarts"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="streetsmarts">
                            {{#dots actor.data.data.streetsmarts}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.subterfuge"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="subterfuge">
                            {{#dots actor.data.data.subterfuge}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.academia"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="academia">
                            {{#dots actor.data.data.academia}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.awareness"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="awareness">
                            {{#dots actor.data.data.awareness}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.investigation"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="investigation">
                            {{#dots actor.data.data.investigation}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.medicine"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="medicine">
                            {{#dots actor.data.data.medicine}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.science"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="science">
                            {{#dots actor.data.data.science}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.stealth"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="stealth">
                            {{#dots actor.data.data.stealth}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.survival"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="survival">
                            {{#dots actor.data.data.survival}}{{/dots}}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-no-border">{{localize "c2d10.skills.technology"}}</th>
                        <td class="flex-row table-no-border resource-row " data-id="technology">
                            {{#dots actor.data.data.technology}}{{/dots}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>