<section>
    <h3>
        {{localize "c2d10.sheet.skills"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.physical"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{! -- Somewhat overengineered structure. This writes out each physical skill, but also checks for the presence of a focus
                    and if one is found, append an asterisk to the name, to indicate to the player that they have a focus to use.}}
                    {{#each system.skills.physical as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-skill-test table-no-border description"
                                data-tooltip="{{localize (concat "c2d10.descriptions." name)}}
                                <p>Left click to roll, right click or shift+click for description.</p>"
                                data-type="skills" data-group="physical"
                                data-id="{{name}}"
                            >
                                {{localize (concat "c2d10.skills." name)}}
                                    {{#each ../focus as |content id|}}
                                        {{#if (eq content.parent name)}} *{{/if}}
                                    {{/each}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-type="skills" data-group="physical" data-id="{{name}}" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.social"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{! -- Somewhat overengineered structure. This writes out each social skill, but also checks for the presence of a focus
                    and if one is found, append an asterisk to the name, to indicate to the player that they have a focus to use.}}
                    {{#each system.skills.social as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-skill-test table-no-border description"
                                data-tooltip="{{localize (concat "c2d10.descriptions." name)}}
                                <p>Left click to roll, right click or shift+click for description.</p>"
                                data-type="skills" data-group="social"
                                data-id="{{name}}"
                            >
                                {{localize (concat "c2d10.skills." name)}}
                                    {{#each ../focus as |content id|}}
                                        {{#if (eq content.parent name)}} *{{/if}}
                                    {{/each}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-type="skills" data-group="social" data-id="{{name}}" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flex-col flex-start w-100">
            <h3>
                {{localize "c2d10.skills.mental"}}
            </h3>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                <table>
                    <colgroup>
                        <col class="w-60">
                        <col class="w-40">
                    </colgroup>
                    {{! -- Somewhat overengineered structure. This writes out each mental skill, but also checks for the presence of a focus
                    and if one is found, append an asterisk to the name, to indicate to the player that they have a focus to use.}}
                    {{#each system.skills.mental as |level name|}}
                        <tr>
                            <th class="c2d10-test c2d10-skill-test table-no-border description"
                                data-tooltip="{{localize (concat "c2d10.descriptions." name)}}
                                <p>Left click to roll, right click or shift+click for description.</p>"
                                data-type="skills" data-group="mental"
                                data-id="{{name}}"
                            >
                                {{localize (concat "c2d10.skills." name)}}
                                    {{#each ../focus as |content id|}}
                                        {{#if (eq content.parent name)}} *{{/if}}
                                    {{/each}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-type="skills" data-group="mental" data-id="{{name}}" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots level 5}}{{/dots}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</section>