<section class="content-box flex-col flex-between">
    <div class="flex-col">
        <div class="c2d10-contentbox flex-row flex-between" style="width:fit-content; position: absolute; top: 41px; left: 54px;">
            <a class="add-trait" title="{{localize "c2d10.sheet.addTrait"}}" style="padding-right:2px;">
                <i class="far fa-plus-square"></i>
            </a>
            <div>
                {{localize "c2d10.sheet.addTrait"}}
            </div>
        </div>
        <h3 style="padding-top: 10px">
            {{localize "c2d10.sheet.traits"}}
        </h3>
        <div class="flex-col flex-start c2d10-subsection" style="min-height:40px;">
            {{#each system.traits as |trait traitID|}}
                <div class="flex-row flex-between">
                    <div class="{{#if showEffects}} fancy-effects{{/if}}">
                        <a class="remove-trait" title="{{localize "c2d10.sheet.removeTrait"}}" style="padding-right:2px;" data-id="{{traitID}}">
                            <i class="far fa-minus-square c2d10-remove-trait"></i>
                        </a>
                    </div>
                    <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                        <input id="trait-name" type="text" name="{{concat "system.traits." traitID ".description" }}" value="{{description}}" placeholder="{{localize "c2d10.sheet.description"}}" />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
<section>
    <h3 style="padding-top: 10px">
        {{localize "c2d10.sheet.consequences"}}
    </h3>
    <div class="content-box c2d10-subsection">
        {{#if (eq this.system.extras.maxstrain 5)}}
            <div class="c2d10-consequence-box flex-row flex-start" data-type="health" data-group="consequence" data-id="mildPhysical">
                <div class="c2d10-consequence-clickbox c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mildPhysical.ticked}} c2d10-invert{{/if}} c2d10-white-label">
                    [2]
                </div>
                <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                    <input name="system.consequences.mildPhysical.description" type="text" value="{{system.consequences.mildPhysical.description}}" placeholder="{{localize "c2d10.sheet.mildPhys"}}" />
                </div>
            </div>
        {{/if}}
        {{#if (eq this.system.extras.maxstress 5)}}
            <div class="c2d10-consequence-box flex-row flex-start" data-type="health" data-group="consequence" data-id="mildMental">
                <div class="c2d10-consequence-clickbox c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mildMental.ticked}} c2d10-invert{{/if}} c2d10-white-label">
                    [2]
                </div>
                <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                    <input name="system.consequences.mildMental.description" type="text" value="{{system.consequences.mildMental.description}}" placeholder="{{localize "c2d10.sheet.mildMent"}}" />
                </div>
            </div>
        {{/if}}
        <div class="c2d10-consequence-box flex-row flex-start" data-type="health" data-group="consequence" data-id="mild">
            <div class="c2d10-consequence-clickbox c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mild.ticked}} c2d10-invert{{/if}} c2d10-white-label">
                [2]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                <input name="system.consequences.mild.description" type="text" value="{{system.consequences.mild.description}}" placeholder="{{localize "c2d10.sheet.mild"}}" />
            </div>
        </div>
        <div class="c2d10-consequence-box flex-row flex-start" data-type="health" data-group="consequence" data-id="moderate">
            <div class="c2d10-consequence-clickbox c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.moderate.ticked}} c2d10-invert{{/if}} c2d10-white-label">
                [4]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                <input name="system.consequences.moderate.description" type="text" value="{{system.consequences.moderate.description}}" placeholder="{{localize "c2d10.sheet.moderate"}}" />
            </div>
        </div>
        <div class="c2d10-consequence-box flex-row flex-start" data-type="health" data-group="consequence" data-id="severe">
            <div class="c2d10-consequence-clickbox c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.severe.ticked}} c2d10-invert{{/if}} c2d10-white-label">
                [6]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow">
                <input name="system.consequences.severe.description" type="text" value="{{system.consequences.severe.description}}" placeholder="{{localize "c2d10.sheet.severe"}}" />
            </div>
        </div>
    </div>
</section>