<section>
    <h3>
        {{localize "c2d10.sheet.consequences"}}
    </h3>
    <div class="content-box c2d10-subsection">
        {{#if (eq this.system.extras.maxstrain 5)}}
        <div class="c2d10-consequence-box flex-row flex-start">
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mildPhysical.ticked}} c2d10-invert{{/if}} c2d10-white-label">
               [2]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow" >
                <input name="system.consequences.mildPhysical.description" type="text" value="{{system.consequences.mildPhysical.description}}" placeholder="{{localize "c2d10.sheet.mildPhys"}}"/>
            </div>
        </div>
        {{/if}}
        {{#if (eq this.system.extras.maxstress 5)}}
        <div class="c2d10-consequence-box flex-row flex-start">
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mildMental.ticked}} c2d10-invert{{/if}} c2d10-white-label">
               [2]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow" >
                <input name="system.consequences.mildMental.description" type="text" value="{{system.consequences.mildMental.description}}" placeholder="{{localize "c2d10.sheet.mildMent"}}"/>
            </div>
        </div>
        {{/if}}
        <div class="c2d10-consequence-box flex-row flex-start">
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.mild.ticked}} c2d10-invert{{/if}} c2d10-white-label">
               [2]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow" >
                <input name="system.consequences.mild.description" type="text" value="{{system.consequences.mild.description}}" placeholder="{{localize "c2d10.sheet.mild"}}"/>
            </div>
        </div>
                <div class="c2d10-consequence-box flex-row flex-start">
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.moderate.ticked}} c2d10-invert{{/if}} c2d10-white-label">
               [4]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow" >
                <input name="system.consequences.moderate.description" type="text" value="{{system.consequences.moderate.description}}" placeholder="{{localize "c2d10.sheet.moderate"}}"/>
            </div>
        </div>
                <div class="c2d10-consequence-box flex-row flex-start">
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}}{{#if system.consequences.severe.ticked}} c2d10-invert{{/if}} c2d10-white-label">
               [6]
            </div>
            <div class="c2d10-contentbox{{#if showEffects}} fancy-effects{{/if}} flex-grow" >
                <input name="system.consequences.severe.description" type="text" value="{{system.consequences.severe.description}}" placeholder="{{localize "c2d10.sheet.severe"}}"/>
            </div>
        </div>
    </div>
</section>