<section>
    <h3>
        {{localize "c2d10.sheet.equipment"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <table class="c2d10-asset-card-table">
                <colgroup>
                    <col style="width: 5%;">
                    <col class="w-40">
                    <col class="w-40">
                    <col class="w-5">
                    <col class="w-5">
                    <col class="w-10">
                </colgroup>
                <tr>
                    <th class="table-no-border"></th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.name"}}
                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.assetType"}}
                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.quantity"}}
                    </th>
                    <th class="table-no-border">
                        
                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.value"}}
                    </th>
                </tr>
                {{#each equipment as |item id|}}
                {{> "systems/c2d10/templates/partials/list-items/equipment-list-item.hbs"}}
                {{/each}}
            </table>
        </div>
    </div>
    <section>
    <h3>
        {{localize "c2d10.sheet.assets"}}
    </h3>
    <div class="content-box c2d10-subsection flex-row flex-between">
        <div class="flex-col flex-start w-100">
            <table class="c2d10-asset-card-table">
                <colgroup>
                    <col style="width: 5%;">
                    <col class="w-40">
                    <col class="w-40">
                    <col class="w-5">
                    <col class="w-5">
                    <col class="w-10">
                </colgroup>
                <tr>
                    <th class="table-no-border"></th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.name"}}
                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.assetType"}}
                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.quantity"}}
                    </th>
                    <th class="table-no-border">

                    </th>
                    <th class="table-no-border">
                        {{localize "c2d10.asset.value"}}
                    </th>
                </tr>
                {{#each assets as |item id|}}
                {{> "systems/c2d10/templates/partials/list-items/asset-list-item.hbs"}}
                {{/each}}
            </table>
        </div>
    </div>
</section>
</section>