<section>
    <h3>
        {{localize "c2d10.sheet.info"}}
    </h3>
    <div class="content-box c2d10-subsection">
        <div class="flex-row flex-between">
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit">
                <div class="image-box">
                    <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="125px" />
                </div>
            </div>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-100">
                <table>
                    <tr>
                        <th>
                            {{localize "c2d10.character.name"}}
                        </th>
                        <td>
                            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "c2d10.character.name"}}" />
                        </td>
                        <th class="cd10-header">
                            {{localize "c2d10.sheet.archetype"}}
                        </th>
                        <td>
                            <input name="system.info.archetype" type="text" value="{{system.info.archetype}}" placeholder="{{localize "c2d10.sheet.archetype"}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.concept"}}
                        </th>
                        <td>
                            <input name="system.info.concept" type="text" value="{{system.info.concept}}" placeholder="{{localize "c2d10.character.concept"}}" />
                        </td>
                        <th>
                            {{localize "c2d10.character.ambition"}}
                        </th>
                        <td>
                            <input name="system.info.ambition" type="text" value="{{system.info.ambition}}" placeholder="{{localize "c2d10.character.ambition"}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.species"}}
                        </th>
                        <td>
                            <input name="system.info.species" type="text" value="{{system.info.species}}" placeholder="{{localize "c2d10.character.species"}}" />
                        </td>
                        <th>
                            {{localize "c2d10.character.faction"}}
                        </th>
                        <td>
                            <input name="system.info.faction" type="text" value="{{system.info.faction}}" placeholder="{{localize "c2d10.character.faction"}}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="w-20 flex-col">
                <div class="c2d10-contentbox h-100 {{#if showEffects}}fancy-effects{{/if}} flex-col flex-between">
                    <label class="c2d10-test align-center c2d10-economy-test description" data-tooltip="{{localize "c2d10.descriptions.economy"}}" data-type="info" data-group="info" data-id="economy" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                        {{localize "c2d10.character.economy"}}
                    </label>
                    <div class="flex-row flex-between">
                        <div class="flex-row resource-row" data-type="info" data-id="economy" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                            {{#dots system.info.economy 5}}{{/dots}}
                        </div>
                    </div>
                </div>
                <div class="c2d10-contentbox h-100 {{#if showEffects}}fancy-effects{{/if}} flex-col flex-start">
                    <label class="description align-center" data-tooltip="{{localize "c2d10.descriptions.crisis"}}" data-id="crisis">
                        {{localize "c2d10.resources.crisis"}}
                    </label>
                    <div>
                        <div class="dot-container flex-row resource-row crisis-number crisis-alert {{#if (gt system.health.crisis 3)}} crisis-bad{{/if}}" data-type="health" data-id="crisis" data-pass="true" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                            {{system.health.crisis}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row flex-between">
            <div class="flex-row flex-between c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}  w-50">
                <label class="c2d10-test c2d10-health-test description" data-tooltip="{{localize "c2d10.descriptions.strain"}}" data-type="health" data-group="physical" data-id="strain">
                    {{localize "c2d10.resources.strain"}} {{#if system.health.physicalImpairment}}<span class="red" data-tooltip="{{localize "c2d10.sheet.impaired-tooltip"}}">{{localize "c2d10.sheet.impaired"}}</span>{{/if}}
                </label>
                <div class="flex-row flex-center resource-row" data-type="health" data-id="strain" data-pass="true" data-tooltip="{{localize "c2d10.sheet.health-tooltip"}}">
                    {{#healthdots system.health.strain.superficial system.health.strain.critical system.health.strain.max "strain"}}{{/healthdots}}
                </div>
            </div>
            <div class="flex-row flex-between c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}  w-50">
                <label class="c2d10-test c2d10-health-test description" data-tooltip="{{localize "c2d10.descriptions.stress"}}" data-type="health" data-group="mental" data-id="stress">
                    {{localize "c2d10.resources.stress"}} {{#if system.health.mentalImpairment}}<span class="red" data-tooltip="{{localize "c2d10.sheet.impaired-tooltip"}}">{{localize "c2d10.sheet.impaired"}}</span>{{/if}}
                </label>
                <div class="flex-row flex-center resource-row" data-type="health" data-id="stress" data-pass="true" data-tooltip="{{localize "c2d10.sheet.health-tooltip"}}">
                    {{#healthdots system.health.stress.superficial system.health.stress.critical system.health.stress.max "stress"}}{{/healthdots}}
                </div>
            </div>
        </div>
        <div class="flex-row flex-between">
            {{#if equippedWeapon}}
            <div class="flex-row flex-start" style="width: 49.5%;">
                <div class="flex-verticalcenter c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} equipment-item asset-item" data-id={{system.equipment.weapon}}>
                    <a class="c2d10-attack-weapon c2d10-test" title="{{localize "c2d10.sheet.attack"}}" data-type="attack" data-id="{{system.equipment.weapon}}">
                        <i class="fa-light fa-crosshairs-simple"></i>
                    </a>
                </div>
                <div class="flex-row flex-between flex-verticalcenter w-100 c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} equipment equipment-item asset-item" data-id={{system.equipment.weapon}}>
                    <label>
                        {{equippedWeapon.name}}
                    </label>
                    <div class="flex-row flex-center">
                        {{equippedWeapon.damage}} {{equippedWeapon.damageType}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if equippedArmor}}
                <div class="flex-row flex-between w-50 c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} equipment equipment-item asset-item" data-id={{system.equipment.armor}}>
                    <label>
                        {{equippedArmor.name}}
                    </label>
                    <div class="flex-row flex-center">
                        {{equippedArmor.protection}} {{equippedArmor.protectionType}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</section>