<section
  class="c2d10-contentbox c2d10-card flex-col c2d10-clickable-item c2d10-sheet-item c2d10-variant-item"
  data-id="{{this._id}}"
  data-owner-id="{{this.parent._id}}"
>
  <div class="flex-col flex-start">
    <label class="c2d10-capitalize align-center" style="height: 23px;">
      {{this.name}}
    </label>
    <div class="flex-row flex-between">
      <img
        class="item-img"
        src="{{this.img}}"
        title="{{this.name}}"
        width="100px"
        height="auto"
      />
      <div class="c2d10-contentbox w-100">
        {{{this.system.short-description}}}
      </div>
    </div>
    <div class="flex-row flex-between c2d10-contentbox">
      <div>
        {{localize "c2d10.powers.cost"}}
      </div>
      <div>
        {{this.system.cost}}
      </div>
    </div>
  </div>
</section>