<section class="c2d10-card flex-col weapon" data-item-id="{{this.itemId}}" data-owner-id="{{this.owner}}" data-weapon-damage="{{damage}}" data-damage-type="{{damageType}}">
    <div class="flex-col flex-start">
        <h1 class="c2d10-capitalize align-center">{{this.name}}</h1>
        <h3 class="c2d10-capitalize align-center">{{this.system.assetType}}</h3>
    </div>
    <img class="item-img" src="{{this.img}}" data-edit="img" title="{{this.name}}" width="268px" height="auto" />

    <div class="flex-row flex-between c2d10-contentbox">
        <div>
            {{localize "c2d10.asset.damage"}}
        </div>
        <div class="flex-row flex-between">
            {{damage}} {{damageType}}
        </div>
    </div>
    <div class="c2d10-contentbox">
        {{{this.system.description}}}
    </div>
    <div class="c2d10-interactables-attack-box">
        <h3 class="align-center c2d10-capitalize" style="margin-top: 20px;">
            {{localize "c2d10.chat.actions"}}
        </h3>
        <div class="c2d10-contentbox align-center button-box">
            <button class="attack">{{localize "c2d10.chat.attack.attack"}}!</button>
        </div>
    </div>
</section>