<section>
    <h3>
        {{localize "c2d10.sheet.info"}}
    </h3>
    <div class="content-box c2d10-subsection">
        <div class="flex-row flex-between">
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit">
                <div class="image-box">
                    <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="145px" />
                </div>
            </div>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-100">
                <table>
                    <tr>
                        <th>
                            {{localize "c2d10.character.name"}}
                        </th>
                        <td>
                            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "c2d10.character.name"}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.concept"}}
                        </th>
                        <td>
                            <input name="system.info.concept" type="text" value="{{system.info.concept}}" placeholder="{{localize "c2d10.character.concept"}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.species"}}
                        </th>
                        <td>
                            <input name="system.info.species" type="text" value="{{system.info.species}}" placeholder="{{localize "c2d10.character.species"}}" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex-col flex-between">
                <div class="flex-col flex-start c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} crisis-box h-100">
                    <h3 class="c2d10-test c2d10-health-test description" data-tooltip="{{localize "c2d10.descriptions.strain"}}" data-type="health" data-id="strain">
                        {{localize "c2d10.resources.strain"}} {{#if system.health.physicalImpairment}}<span class="red" data-tooltip="{{localize "c2d10.sheet.impaired-tooltip"}}">{{localize "c2d10.sheet.impaired"}}</span>{{/if}}
                    </h3>
                    <div class="flex-row flex-center resource-row" data-type="health" data-id="strain" data-pass="true" data-tooltip="{{localize "c2d10.sheet.health-tooltip"}}">
                        {{#healthdots system.health.strain.superficial system.health.strain.critical system.health.strain.max "strain"}}{{/healthdots}}
                    </div>
                </div>
                <div class="flex-col flex-start c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} crisis-box h-100">
                    <h3 class="c2d10-test c2d10-health-test description" data-tooltip="{{localize "c2d10.descriptions.stress"}}" data-type="health" data-id="stress">
                        {{localize "c2d10.resources.stress"}} {{#if system.health.mentalImpairment}}<span class="red" data-tooltip="{{localize "c2d10.sheet.impaired-tooltip"}}">{{localize "c2d10.sheet.impaired"}}</span>{{/if}}
                    </h3>
                    <div class="flex-row flex-center resource-row" data-type="health" data-id="stress" data-pass="true" data-tooltip="{{localize "c2d10.sheet.health-tooltip"}}">
                        {{#healthdots system.health.stress.superficial system.health.stress.critical system.health.stress.max "stress"}}{{/healthdots}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>