<tr class="c2d10-sheet-item c2d10-equipment-item c2d10-asset-item" data-id="{{id}}">
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}}">
        <a class="delete-item" data-tooltip="{{localize "c2d10.sheet.delete-item-tooltip"}}">
            <i class="far fa-minus-square"></i>
        </a>
    </td>
    <td class="c2d10-contentbox c2d10-clickable-item c2d10-asset-item {{#if @root.showEffects}}fancy-effects{{/if}}" data-id="{{id}}">
        {{name}}
    </td>
    <td class="c2d10-contentbox c2d10-clickable-item c2d10-asset-item {{#if @root.showEffects}}fancy-effects{{/if}}" data-id="{{id}}">
        {{system.assetType}}
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}}">
        {{system.load}}
    </td>
    <td class="c2d10-contentbox {{#if @root.showEffects}}fancy-effects{{/if}}">
        <div class="flex-row">
            {{#dots system.value 5}}{{/dots}}
        </div>
    </td>
</tr>