<form class="flex-col flex-start">
    <h3 class="align-center">
        {{localize "c2d10.test-dialog.parent"}}
    </h3>
    {{#if talentsList}}
    <select id="parent">
        {{selectOptions talentsList selected=parent localize=true}}
    </select>
    {{/if}}
    <h3 class="align-center c2d10-capitalize">
        {{item}} {{localize "c2d10.test-dialog.pool"}}
    </h3>
    <input class="align-center" id="pool" type="text" value="{{pool}}" placeholder="{{localize "c2d10.test-dialog.pool"}}" autofocus />
    <h3 class="align-center">
        {{localize "c2d10.test-dialog.crisis"}}
    </h3>
        <input class="align-center" id="crisis" type="text" value="{{crisis}}" placeholder="{{localize "c2d10.test-dialog.crisis"}}"/>
</form>