<tr class="variant-item asset-item " data-id="{{id}}">
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{name}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.power)}}
            {{localize (concat "c2d10.powers." data.data.power)}}
        {{/unless}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.pool)}}
            {{data.data.pool}}
        {{/unless}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.cost)}}
            {{data.data.cost}} {{localize (concat "c2d10.resources." data.data.cost-resource)}}
        {{/unless}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.range)}}
            {{data.data.range}} {{localize (concat "c2d10.range." data.data.range-denominator)}}
        {{/unless}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.opposed)}}
            {{data.data.opposed}}
        {{/unless}}
    </td>
    <td class="align-left resource-row c2d10-contentbox asset {{#if showEffects}}fancy-effects{{/if}}">
        {{#unless (eq "None" data.data.duration)}}
            {{data.data.duration}} {{localize (concat "c2d10.duration." data.data.duration-denominator)}}
        {{/unless}}
    </td>
</tr>