<section
  class="c2d10-chat-roll-message flex-col flex-start"
  data-DC="{{DC}}"
  data-hits="{{hits}}"
  data-weapon-damage="{{damage}}"
  data-damage-type="{{damageType}}"
>
  <div class="flex-col flex-start">
    <h2 class="align-center c2d10-capitalize">
      {{name}}
    </h2>
    {{#if defense}}
      <h3 class="align-center c2d10-capitalize c2d10-combat-message">
        {{localize "c2d10.chat.defend.defending"}}
      </h3>
    {{/if}}
    {{#if attack}}
      <h3 class="align-center c2d10-capitalize c2d10-combat-message">
        {{localize "c2d10.chat.attack.attacking"}}
      </h3>
    {{/if}}
    <h3 class="align-center c2d10-capitalize">
      {{#unless attack}}
        [{{localize "c2d10.chat.DC"}}{{DC}}]
      {{/unless}}
      {{pool1Name}}
      {{#unless (eq pool2Name "None")}}
        +{{pool2Name}}
      {{/unless}}
    </h3>
  </div>
  <div class="c2d10-chat-roll">
    {{{roll}}}
  </div>
  {{#if fatedOutcome}}
    <div class="c2d10-contentbox align-center">
      {{localize "c2d10.chat.fateOutcome"}}
    </div>
  {{/if}}
  {{#if attack}}
    <h3 class="align-center c2d10-capitalize">
      {{localize "c2d10.chat.actions"}}
    </h3>
    <div class="c2d10-contentbox align-center button-box">
      <button class="defend">
        {{localize "c2d10.chat.defend.defend"}}
        !
      </button>
    </div>
  {{/if}}
  {{#if defense}}
    {{#unless successfulDefense}}
      <h3 class="align-center c2d10-capitalize">
        {{localize "c2d10.chat.defend.damage-taken"}}
      </h3>
      <div class="c2d10-contentbox flex-row flex-between">
        <div>
          {{damageType}}
        </div>
        <div>
          {{damage}}
        </div>
      </div>
    {{/unless}}
  {{/if}}
</section>