<section>
    <h3>
        {{localize "c2d10.sheet.info"}}
        WARNING: This sheet is not completed! Do not use yet!
    </h3>
    <div class="content-box c2d10-subsection">
        <div class="flex-row flex-between">
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit">
                <div class="image-box">
                    <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="145px"/>
                </div>
            </div>
            <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-100">
                <table>
                    <tr>
                        <th>
                            {{localize "c2d10.character.name"}}
                        </th>
                        <td>
                            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "c2d10.character.name"}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.concept"}}
                        </th>
                        <td>
                            <input name="system.info.concept" type="text" value="{{system.info.concept}}" placeholder="{{localize "c2d10.character.concept"}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "c2d10.character.species"}}
                        </th>
                        <td>
                            <input name="system.info.species" type="text" value="{{system.info.species}}" placeholder="{{localize "c2d10.character.species"}}"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex-col flex-between">

                Health here
                   
            </div>
        </div>
    </div>
</section>