<section>
    <h3>
        {{localize "c2d10.sheet.skills"}}
    </h3>
    <div class="content-box c2d10-subsection {{#if showEffects}}fancy-effects{{/if}} flex-row flex-between">
        <div class="c2d10-contentbox  w-50 flex-row flex-between">
            <div class="c2d10-do-roll c2d10-skill-test c2d10-description" data-type="skills" data-id="{{system.skills.primary.name}}" data-level="{{system.skills.primary.level}}" data-tooltip="<p>Left click to roll.</p>">
                <input name="system.skills.primary.name" type="text" value="{{system.skills.primary.name}}" placeholder="{{localize "c2d10.sheet.skill"}}"/>
            </div>
            <div class="flex-row flex-center resource-row" data-type="skills" data-id="primary" data-pass="false">
                {{#dots system.skills.primary.level 5}}{{/dots}}
            </div>
        </div>
        <div class="c2d10-contentbox  w-50 flex-row flex-between">
            <div class="c2d10-do-roll c2d10-skill-test c2d10-description" data-type="skills" data-id="{{system.skills.primary.name}}" data-level="{{system.skills.secondary.level}}" data-tooltip="<p>Left click to roll.</p>">
                <input name="system.skills.secondary.name" type="text" value="{{system.skills.secondary.name}}" placeholder="{{localize "c2d10.sheet.skill"}}"/>
            </div>
            <div class="flex-row flex-center resource-row" data-type="skills" data-id="secondary" data-pass="false">
                {{#dots system.skills.secondary.level 5}}{{/dots}}
            </div>
        </div>
    </div>
</section>