<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-main-content c2d10-section flex-row flex-start">
        {{#if locked}}
        <div class="edit-lock red">
            <i class="fas fa-lock"></i>
        </div>
        {{else}}
        <div class="edit-lock green">
            <i class="fas fa-lock-open"></i>
        </div>
        {{/if}}
        <section class="nav-tabs flex-col flex-between">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="info">{{localize "c2d10.sheet.info"}}</a>
                <a class="item" data-tab="assets">{{localize "c2d10.sheet.assets"}}</a>
                <a class="item" data-tab="powers">{{localize "c2d10.sheet.powers"}}</a>
            </nav>
        </section>
        <section id="tabs" class="sheet-body">
            {{!-- Info Tab --}}
            <div class="tab sheet-bio" data-group="primary" data-tab="info">
                {{> "systems/c2d10/templates/partials/sheet-tabs/actor-info.hbs"}}
                {{> "systems/c2d10/templates/partials/sheet-tabs/actor-talents.hbs"}}
                {{> "systems/c2d10/templates/partials/sheet-tabs/actor-skills.hbs"}}
            </div>
            {{!-- Assets Tab --}}
            <div class="tab sheet-assets" data-group="primary" data-tab="assets">
                {{> "systems/c2d10/templates/partials/sheet-tabs/actor-assets-tab.hbs"}}
            </div>
            {{!-- Powers Tab --}}
            <div class="tab sheet-powers" data-group="primary" data-tab="powers">
                {{> "systems/c2d10/templates/partials/sheet-tabs/actor-powers-tab.hbs"}}
            </div>
        </section>
    </div>
</form>