<form class="sheet-main-content c2d10 sheet flex-col flex-start">
    <section class="c2d10-sheet-header-box">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "c2d10.powers.name"}}" />
        </h1>
    </section>
    <section>
        <div class="c2d10-subsection flex-row flex-between">
            <div class="w-80 c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} c2d10-asset-textarea">
                <textarea name="system.description">{{system.description}}</textarea>
            </div>
            <div class="flex-col flex-start">
                <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit">
                    <div class="image-box flex-row flex-center">
                        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="145px" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>