<form class="sheet-main-content c2d10 sheet flex-col flex-start">
    <section class="c2d10-sheet-header-box">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "c2d10.powers.name"}}"/>
        </h1>
        <h3 class="c2d10-alert">
            <select name="system.power">
                {{#select system.power}}
                    {{#each worldPowers as |system id|}}
                        <option value="{{system.powerId}}">{{system.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </h3>
    </section>
    <section>
        <div class="c2d10-subsection flex-row flex-between">
            <div class="flex-col flex-start w-80">
                <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} c2d10-asset-textarea h-20">
                    <textarea name="system.short-description" placeholder="Short description to show on the sheet">{{system.short-description}}</textarea>
                </div>
                <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} c2d10-asset-textarea h-80">
                    <textarea name="system.description" placeholder="Full, detailed description. Only shown on the variant sheet itself.">{{system.description}}</textarea>
                </div>
            </div>
            <div class="flex-col flex-start">
                <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit" style="width: 100%;">
                    <div class="image-box flex-row flex-center">
                        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="145px" width="auto"/>
                    </div>
                </div>
                <div
                     class="flex-col flex-start w-20 value-box c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                    <table>
                        <tr>
                            <th class="table-no-border">
                                {{localize "c2d10.powers.level-req"}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-id="level-req" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots system.level-req 5}}{{/dots}}
                            </td>
                        </tr>
                    </table>
                    <div class="flex-col c2d10-contentbox">
                        <h3>{{localize "c2d10.powers.pool"}}</h3>
                        <div>
                            <input name="system.pool" type="text" value="{{system.pool}}" placeholder="{{localize "c2d10.powers.pool"}}"/>
                        </div>
                    </div>
                    <div class="flex-col c2d10-contentbox">
                        <h3>{{localize "c2d10.powers.cost"}}</h3>
                        <div class="flex-row flex-between">
                            <input name="system.cost" type="text" value="{{system.cost}}" placeholder="{{localize "c2d10.powers.cost"}}"/>
                        </div>
                    </div>
                    <div class="flex-col c2d10-contentbox">
                        <h3>{{localize "c2d10.powers.range"}}</h3>
                        <div class="flex-row flex-between">
                            <input name="system.range" type="text" value="{{system.range}}" placeholder="{{localize "c2d10.powers.range"}}"/>
                        </div>
                    </div>
                    <div class="flex-col c2d10-contentbox">
                        <h3>{{localize "c2d10.powers.opposed"}}</h3>
                            <input name="system.opposed" type="text" value="{{system.opposed}}" placeholder="{{localize "c2d10.powers.opposed"}}"/>
                        </div>
                    <div class="flex-col c2d10-contentbox">
                        <h3>{{localize "c2d10.powers.duration"}}</h3>
                        <div class="flex-row flex-between">
                            <input name="system.duration" type="text" value="{{system.duration}}" placeholder="{{localize "c2d10.powers.duration"}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>