<form class="sheet-main-content c2d10 sheet flex-col flex-start">
    <section class="c2d10-sheet-header-box">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "c2d10.asset.name"}}" />
        </h1>
        <h3 class="c2d10-alert">
            <input name="system.assetType" type="text" value="{{system.assetType}}" placeholder="{{localize "c2d10.asset.assetType"}}" />
        </h3>
    </section>
    <section>
        <div class="c2d10-subsection flex-row flex-between">
            <div class="w-80 c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} c2d10-asset-textarea">
                <textarea name="system.description">{{system.description}}</textarea>
            </div>
            <div class="flex-col flex-start">
                <div class="c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}} w-fit">
                    <div class="image-box flex-row flex-center">
                        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="145px" width="auto"/>
                    </div>
                </div>
                <div class="flex-col flex-start w-20 value-box c2d10-contentbox {{#if showEffects}}fancy-effects{{/if}}">
                    <table>
                        <colgroup>
                            <col class="w-50">
                            <col class="w-50">
                        </colgroup>
                        <tr>
                            <th class="table-no-border">
                                {{localize "c2d10.asset.quality"}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-id="quality" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots system.quality 5}}{{/dots}}
                            </td>
                        </tr>
                        <tr>
                            <th class="table-no-border">
                                {{localize "c2d10.asset.value"}}
                            </th>
                            <td class="flex-row table-no-border resource-row" data-id="value" data-tooltip="{{localize "c2d10.sheet.dot-tooltip"}}">
                                {{#dots system.value 5}}{{/dots}}
                            </td>
                        </tr>
                        <tr>
                            <th class="table-no-border">{{localize "c2d10.asset.superficial"}}</th>
                            <td class="table-no-border">
                                 <input class="c2d10-sheet-entry" name="system.superficial" type="text" value="{{system.superficial}}" placeholder="{{localize "c2d10.asset.superficial"}}" />
                            </td>
                        </tr>
                        <tr>
                            <th class="table-no-border">{{localize "c2d10.asset.critical"}}</th>
                            <td class="table-no-border">
                                <input class="c2d10-sheet-entry" name="system.critical" type="text" value="{{system.critical}}" placeholder="{{localize "c2d10.asset.critical"}}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</form>